.animated-background {
    background: linear-gradient(45deg, #4a044e 0%, #1e1b4b 100%);
    background-size: 200% 200%;  
    animation: background 6s ease infinite;
}

@keyframes background { 
  0% {
    background-position: 0% 50%;
  }
  
  50% {
    background-position: 100% 50%;
  }
  
  100% {
    background-position: 0% 50%;
  }
}
